# Ignore a pasta bin
/Pacer/bin/
/Pacer/target/
/Pacer/.vscode/

# Ignore as configurações do Eclipse
.classpath
.project

# Ignore arquivos gerados pelo build do JavaFX
/Pacer/build.fxbuild

# Ignorar arquivos temporários e de cache
*.class
*.log
*.tmp
*.swp
*.bak
Pacer/.idea/workspace.xml
